asgiref==3.4.1
click==8.0.1
Deprecated==1.2.12
fastapi==0.67.0
h11==0.12.0
opentelemetry-api==1.4.0
opentelemetry-instrumentation==0.23b0
opentelemetry-instrumentation-asgi==0.23b0
opentelemetry-instrumentation-fastapi==0.23b0
opentelemetry-semantic-conventions==0.23b0
opentelemetry-util-http==0.23b0
pydantic==1.8.2
python-multipart==0.0.5
six==1.16.0
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
wrapt==1.12.1
